<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Some Website </title>
</head>
<body>

{{> header}}

some text here.
<p>
<p>

{{ screamIt message }}

</p>
</p>

{{> footer }}

</body>

</html>



















